/* .imgabout{
    margin-top: 0%;
    margin-right: 10px;
    float: right;
    display: flex;
    align-items: center;
}

.imgaboutus{
    margin-left: 500px;
    float: center;
    display: flex;
    align-items: center;
}
*/

 .ahead{
    background-color: rgb(60, 50, 194);
    color: rgb(231, 219, 219);
    padding-bottom: 60px;
} 

/*
.ahead1{
    margin-left: 2%;
}

.babout{
    margin-left: 2%;
}
*/

.babout1{
    font-size: 15px;
}




.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.imgabout, .imgaboutus{
    float: right;
}
  
