.rowb1{
    width: 15%;
    margin-left: 1.5%;
    font-size: small;
}

.rowb1:hover::before{
    color: blueviolet;
}
.rowb2{
    height: 250px;
    font-size: small;
    margin-left: 20%;
    margin-top: -290px;
}

h2{
    margin-left: 1%;
}

.imgs{
    height: 10px;
    width: 10px;
}

.bottom{
    background-color: white;
    color: blueviolet;
}