h1{
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: rgb(60, 50, 194);
    margin: 0%;
    padding-top: 12%;
    padding-bottom: 3%;
}

.hhome{
    background-color: rgb(60, 50, 194);
    color: rgba(212, 207, 207, 0.79);
    text-align: center;
    margin: 0%;
    padding-bottom: 2.5%;
}

.phome{
    color: white;
    text-align: center;
    background-color: rgb(60, 50, 194);
    margin-top: 0%;
    padding-bottom: 14%;
}

button1{
    background-color: rgb(80, 214, 178);
    padding: 1% 2% 1% 2%;
    border-radius: 8px;
}

.imgStyle{
    width: 55px;
    height: 12px;
}

.container1{
    padding-top: 5%;
    padding-left: 3%;   
}

.container2{
    padding-top: 5%;
    padding-left: 3%;  
}

.container3{
    padding-top: 5%;
    padding-left: 3%;  
}

.container4{
    padding-top: 6%;
    padding-left: 3%;  
}

.row1{
    background-color: rgb(104, 104, 221);
    width: 28%;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 60px;
    height: 250px;
    padding: 2%;
    margin-left: 1.5%;
    font-size: 14px;
}

.row2{
    background-color: rgb(61, 61, 146);
    width: 28%;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 60px;
    height: 250px;
    padding: 2%;
    padding-left: 1.5%;
    margin-left: 33%;
    margin-top: -200px;
    font-size: 14px;
}

.row3{
    background-color: rgb(104, 104, 221);
    width: 28%;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 60px;
    height: 250px;
    padding: 2%;
    margin-left: 65%;
    margin-top: -300px;
    font-size: 14px;
}