
.cform {
    width: 100%;
    max-width: 600px;
    margin-left: 2%;
}

.cform label {
    display: block;
    margin-bottom: 10px;
}

.cform input, .cform textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cform input[type="submit"] {
    background-color: rgb(105, 163, 255);
    color: white;
    cursor: pointer;
    width: 15%;
}

.cform input[type="submit"]:hover {
    background-color: rgb(222, 210, 210);
    color: black;
}