.dhead{
    background-color: white;
    color: black;
    margin-top: 0%;
}

.dh{
    background-color: rgb(60, 50, 194);
    color: white;
    padding-bottom: 140px;
    margin-bottom: 0%;
    margin-left: 0%;
}